<div class="container">
    <h2>Your Cart</h2>
    <div class="row row-cols-1 row-cols-md-5 mt-5  g-4">
    @if(cartItems.length > 0){
      @for(item of cartItems; track  item.id){
        <div  class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img [src]="item.image" class="card-img" alt="{{ item.title }}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <!-- <p class="card-text">{{ item.description }}</p> -->
                <p class="card-text"><strong>${{ item.price }}</strong></p>
  
              </div>
            </div>
          </div>
        </div>
  
      }
    }
  
  </div>    