<form [formGroup]="formValues">
    <div class="mb-3">
      <label  class="form-label">Product Name</label>
      <input type="text" class="form-control" name="name" formControlName="productName">
    </div>
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input type="number" class="form-control" name="price" formControlName="productPrice">
    </div>
    <div class="mb-3">
        <label class="form-label">Category</label>
        <input type="text" class="form-control" name="category" formControlName="productCategory">
      </div>
      <div class="mb-3">
        <label class="form-label">Image</label>
        <input type="text" class="form-control" name="image" formControlName="productImage">
      </div>
 
    <button type="submit" class="btn btn-primary" (click)="onAddProduct()"
    [ngClass]="{loggedOut: !isUserLoggedIn}" [disabled]="!isUserLoggedIn">
        Add Product
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="!isUserLoggedIn" [ngClass]="{loggedOut: !isUserLoggedIn}">
        Submit
    </button>
  </form>